body{
  text-align: center;
  background-color: hsl(30, 38%, 92%);
}

.vertical-center {
  background-color: #fff;
  margin: 15% 30%;
  border-radius: 15px;
  min-height: 50%;
  min-height: 50;
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, p{
  text-align: left;
}


.image {
  width: 120%;
  border-radius: 10px;

}

.text{
  padding: 5% 0 5% 8%;
}
