body{
  background-color: #f2ebe3;
  font-family: "Montserrat", sans-serif;
}

h1{
  font-family: "Fraunces";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1;
  padding: 5% 0 5%;
}

h2{
  padding-top: 5%;
  font-size: 0.7rem;
  letter-spacing: 0.6rem;
  color: #6c7289;
}

.content{
  background-color: #fff;

}
.main-section{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.desk-image{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: auto;
  height: 100%;
  object-fit: cover;
}


.text{
  padding-right: 8%;
}

p{
  color: #6c7289;
}

.price {
  display: inline-block;
}

.now-price{
  color: #3c8067;
  font-family: "Fraunces";
  font-weight: 700;
}

.previous-price{
  display: inline-block;
  font-family: "Fraunces";
  font-weight: 100;
}

.btn-cart{
  font-family: "Montserrat";
  text-align: center;
  margin: 10%;
}

.attribution{
  font-size: 0.7rem;
}

@media (max-width: 1000px){

.desk-image {
  width: 100%;
  transform: scale(1);
  border-radius: 8px;

}


.content{
  border-radius: 10px;
  min-width: 350px;

}

h1{
  font-size: 1.5rem;
}

h2{
  margin-top: 5%;
  font-size: 0.7rem;
  letter-spacing: 0.6rem;
  padding: 0;
}

.btn-cart{
  margin: 10%;
}

.attribution{
  text-align: center;
  margin-top: 30%
}

}
